"""frankfurterapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from frankfurterapi.api_helper import APIHelper
from frankfurterapi.apis.base_api import BaseApi
from frankfurterapi.configuration import Server
from frankfurterapi.exceptions.not_found_exception import (
    NotFoundException,
)
from frankfurterapi.exceptions.service_unavailable_exception import (
    ServiceUnavailableException,
)
from frankfurterapi.exceptions.unprocessable_entity_exception import (
    UnprocessableEntityException,
)
from frankfurterapi.http.http_method_enum import (
    HttpMethodEnum,
)
from frankfurterapi.models.currency import Currency
from frankfurterapi.models.currency_detail import (
    CurrencyDetail,
)
from frankfurterapi.models.provider import Provider
from frankfurterapi.models.rate import Rate


class Api(BaseApi):
    """A Controller to access Endpoints in the frankfurterapi API."""

    def __init__(self, config):
        """Initialize Api object."""
        super(Api, self).__init__(config)

    def get_rates(self,
                  date=None,
                  mfrom=None,
                  to=None,
                  base="EUR",
                  quotes=None,
                  providers=None,
                  group=None,
                  expand=None):
        """Perform a GET request to /rates.

        Returns exchange rates blended across providers. Without date params, returns
        the latest rates. Each record is a single currency pair. The response
        includes an identity record for the base currency (base equals quote, rate
        1), subject to the quotes filter like any other record. Daily date ranges of
        any length are served, including full history. Limit: requests using
        `providers` or `expand=providers` recompute the blend per date, so at daily
        granularity they return 422 for ranges longer than 5 years. With `providers`
        naming at most 5 providers, a `quotes` list of at most 5 currencies lifts the
        cap; without `providers`, `expand=providers` ranges compute every currency
        regardless of `quotes`, so aggregate with `group=week` or `group=month`, add
        `providers`, or split the range into shorter requests.

        Args:
            date (date, optional): Specific date (YYYY-MM-DD). Cannot be combined
                with from/to.
            mfrom (date, optional): Start of date range (YYYY-MM-DD)
            to (date, optional): End of date range (YYYY-MM-DD). Defaults to today.
            base (str, optional): Base currency (default: EUR)
            quotes (str, optional): Comma-separated list of quote currencies to
                include
            providers (str, optional): Comma-separated list of data providers to
                include
            group (Group, optional): Downsample rates by time period. Only applies to
                date ranges.
            expand (Expand, optional): Comma-separated list of optional fields to
                include per record. Currently supports `providers`, which adds an
                array of `{ key, date, rate }` objects per record showing each
                provider's individual observation date and rate. Outliers excluded
                from the blend (and providers whose rate was overridden by a currency
                peg) are flagged with `excluded: true`. The field is omitted on
                synthesized peg rows where no provider published the quote. In CSV
                output, the `providers` column is encoded as `KEY:RATE` pairs joined
                by `|`, with a trailing `*` on excluded entries (e.g.
                `ECB:0.92|FED:1.50*`).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Exchange rates

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/rates")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("date")
                .value(date))
            .query_param(Parameter()
                .key("from")
                .value(mfrom))
            .query_param(Parameter()
                .key("to")
                .value(to))
            .query_param(Parameter()
                .key("base")
                .value(base))
            .query_param(Parameter()
                .key("quotes")
                .value(quotes))
            .query_param(Parameter()
                .key("providers")
                .value(providers))
            .query_param(Parameter()
                .key("group")
                .value(group))
            .query_param(Parameter()
                .key("expand")
                .value(expand))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Rate.from_dictionary)
            .is_api_response(True)
            .local_error("404", "No data found", NotFoundException)
            .local_error("422", "Invalid request", UnprocessableEntityException)
            .local_error("503",
                "The request deadline expired before the response could be computed. "
                "Retry with a narrower request: filter with quotes, aggregate with gr"
                "oup, or split the range into shorter requests.",
                ServiceUnavailableException),
        ).execute()

    def get_rate(self,
                 base,
                 quote,
                 date=None,
                 providers=None):
        """Perform a GET request to /rate/{base}/{quote}.

        Returns the blended exchange rate for a single currency pair. Without a date
        param, returns the latest rate. A same-currency pair returns the identity
        rate of 1.

        Args:
            base (str): The request template parameter.
            quote (str): The request template parameter.
            date (date, optional): Specific date (YYYY-MM-DD). Cannot be combined
                with from/to.
            providers (str, optional): Comma-separated list of data providers to
                include

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Exchange rate

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/rate/{base}/{quote}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("base")
                .value(base)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("quote")
                .value(quote)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("date")
                .value(date))
            .query_param(Parameter()
                .key("providers")
                .value(providers))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Rate.from_dictionary)
            .is_api_response(True)
            .local_error("404", "No data found", NotFoundException)
            .local_error("422", "Invalid request", UnprocessableEntityException)
            .local_error("503",
                "The request deadline expired before the response could be computed. "
                "Retry with a narrower request: filter with quotes, aggregate with gr"
                "oup, or split the range into shorter requests.",
                ServiceUnavailableException),
        ).execute()

    def get_currency(self,
                     code):
        """Perform a GET request to /currency/{code}.

        Returns details for a single currency, including provider information or peg
        metadata.

        Args:
            code (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Currency details

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/currency/{code}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("code")
                .value(code)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CurrencyDetail.from_dictionary)
            .is_api_response(True)
            .local_error("404", "No data found", NotFoundException),
        ).execute()

    def get_currencies(self,
                       scope=None,
                       providers=None):
        """Perform a GET request to /currencies.

        Returns available currencies with their names and date ranges. By default,
        only active currencies are included.

        Args:
            scope (Scope, optional): Set to 'all' to include legacy currencies
            providers (str, optional): Comma-separated list of data providers to
                include

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Available currencies

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/currencies")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("scope")
                .value(scope))
            .query_param(Parameter()
                .key("providers")
                .value(providers))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Currency.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_providers(self):
        """Perform a GET request to /providers.

        Returns available exchange rate data providers with their base currency.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Available providers

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/providers")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Provider.from_dictionary)
            .is_api_response(True),
        ).execute()
